extends layout.pug

block content
    h1 Books
    p
        a(href="/books/new").button Create New Book
        input(type="text" placeholder='Search...')#searchbar
    table
        thread
            tr
                th Title
                th Author
                th Genre
                th Year
            tr
        thread
        tbody
            each book in books
                tr.book
                    td
                        a(href=`/books/${book.id}`) #{book.title}
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year}
    script(src="/static/script.js")